// Tipografías
// 1. Creo mis propias varaibles
$fuente-textos: Arial,Helvetica, sans-serif;

// 2. Ahora le asigno mis varibles a las varaibles sass de bootstrap
$headings-font-family: 'Kaisei HarunoUmi', serif;
$headings-font-weight: 700;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;

//Colores
// 1. Creo mi colores
$negro: #000;
$blanco: #fff;
$morado: #A435F0;
$gris: #F8F9FB;
$grisOscuro: #6A6F73;
$naranja: #B4690E;

// 2. Puedo definir mis propios coleres para bootstap
$secondary: $grisOscuro;
$success: $morado;
$light: $gris;
$dark: $negro;

// Formularios
$input-border-color: $negro;

// Incluyo bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

